<app-infinite-scroll
  (scrolled)="onScroll()"
  [loading]="loading"
  [hasMore]="hasMore"
>

<app-animate-data class="library mb3" [library]="library">
    @for(photo of library; track photo.id) {
        <app-single-photo-item
            [photo]="photo"
            (addFavorite)="addToFavorite(photo)"
        ></app-single-photo-item>
    } 

    @if(!library.length) {
        <div class="mt7">
            <h1>{{ errorMessage }}</h1>
        </div>
    }
  </app-animate-data>

</app-infinite-scroll>